@charset "UTF-8";
/* CSS Document */
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin-bottom: 30px;
  line-height: 170%;
  letter-spacing: 0.5px;
}

/******first-view******/
.first-view {
  background: #F4F5F7;
  min-height: 750px;
  padding-top: 40px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.first-view img.fv_bg {
  position: absolute;
  left: 480px;
  z-index: 0;
  top: 150px;
}

.header {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 50px;
}

h1 {
  width: 176px;
  height: 46px;
}

.fv-container_left {
  margin: auto 0;
  line-height: 170%;
  z-index: 99;
}

.fv-container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.fv-container_left .sub {
  margin: 50px 0;
}

h2 {
  font-size: 52px;
  letter-spacing: 5px;
  line-height: 170%;
}
h2 span {
  color: #FFC600;
}

/******header entry-btn******/
.header .entry-btn {
  background: #FFD74F;
  min-width: 205px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all 0.1s ease-out;
}

/******entry-btn******/
.entry-btn {
  background: #FFD74F;
  max-width: 350px;
  height: 60px;
  line-height: 60px;
  border-radius: 60px;
  display: block;
  position: relative;
  transition: all 0.1s ease-out;
}
.entry-btn:hover img {
  animation: arrow 0.5s;
}

/*hoverした際のアニメーション*/
@keyframes arrow {
  50% {
    right: 10px;
  }
  100% {
    right: 20px;
  }
}
/******entry-btn　ここまで******/
.banner {
  max-width: 1020px;
  margin: 100px auto;
}
.banner img {
  width: 100%;
}

.entry-btn img {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
}
.entry-btn p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  padding-bottom: 2px;
  box-sizing: border-box;
  line-height: inherit;
}

.about {
  overflow: hidden;
  background: #F4F5F7;
  padding: 120px 0 30px 0;
  box-sizing: border-box;
  position: relative;
}
.about .inner {
  display: flex;
  width: 80%;
  margin: auto;
}
.about .left {
  width: 583px;
}
.about img.right {
  width: 560px;
  position: absolute;
  top: 0;
  left: 558px;
}
.about h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.about h3 {
  margin-bottom: 60px;
}

.sub-ttl {
  margin-bottom: 60px;
  letter-spacing: 2px;
  font-size: 20px;
  background: linear-gradient(transparent 60%, #ffff66 60%);
  padding: 0 0.5%;
  display: inline-block;
}

section.support {
  padding: 120px 0;
}
section.support h2 {
  font-size: 28px;
}
section.support .section-header {
  text-align: center;
  margin-bottom: 240px;
}
section.support ul {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}
section.support h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 170%;
}
section.support li {
  background: #FEF4D3;
  border-radius: 15px;
  padding: 4%;
  width: 32%;
  position: relative;
}
section.support li img {
  width: 200px;
  position: absolute;
  top: -154px;
  right: 0;
  left: 12px;
  margin: auto;
}

section.Sample {
  background: #F4F5F7;
  padding: 120px 0 30px 0;
  box-sizing: border-box;
}
section.Sample h2 {
  font-size: 28px;
  margin-bottom: 50px;
}
section.Sample .inner {
  overflow: hidden;
}
section.Sample .section-header {
  width: 80%;
  margin: auto;
}

.Adviser .inner {
  width: 80%;
  margin: auto;
}

.Entry {
  text-align: center;
  background: #FEF4D3;
  padding: 120px 0;
  box-sizing: border-box;
}
.Entry .entry-btn {
  margin: 70px auto 0 auto;
}
.Entry h2 {
  margin-bottom: 70px;
}

.Adviser h2, .FAQ h2, .Partner h2 {
  margin-bottom: 70px;
}

.Entry h3 {
  font-size: 24px;
  line-height: 170%;
  margin-bottom: 40px;
}

.Adviser, .FAQ {
  padding: 120px 0;
  box-sizing: border-box;
}

.Adviser .section-header, .FAQ .section-header, .Partner .section-header {
  text-align: center;
}

.Adviser img {
  width: 100%;
}
.Adviser ul li {
  max-width: 560px;
}
.Adviser h3 {
  font-size: 24px;
  line-height: 170%;
  margin: 16px 0px;
}

.adviser_prof {
  display: flex;
  justify-content: space-around;
}

.FAQ ul {
  margin: auto;
  width: 60%;
}
.FAQ h3 {
  background: #FADA6C;
  padding: 2% 3%;
  border-radius: 15px 15px 0 0;
}
.FAQ li {
  margin-bottom: 60px;
}
.FAQ li p {
  background: #FEF4D3;
  padding: 2% 3%;
  border-radius: 0 0 15px 15px;
}

.Partner {
  background: #F4F5F7;
  padding: 120px 0;
  box-sizing: border-box;
}
.Partner img {
  max-height: 130px;
}
.Partner li {
  background: #fff;
  padding: 5% 10%;
  display: table;
  margin: 0 2%;
  border-radius: 15px;
}
.Partner ul {
  display: flex;
  justify-content: center;
}

footer .upper {
  padding: 70px 0;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  display: flex;
}
footer .upper a {
  line-height: 46px;
  font-size: 14px;
}
footer .bottom {
  background: #FADA6C;
  text-align: center;
  padding: 70px 0;
}
footer .bottom img {
  width: 160px;
}
footer small {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 1px;
  opacity: 0.5;
}

/*=================================
スライダーのためのcss
===================================*/
.slider {
  /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 100%;
  margin-left: 9%;
  padding-bottom: 150px;
}
.slider p {
  margin: 0;
}
.slider img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: auto;
}
.slider .slick-prev {
  position: absolute;
  bottom: 90px;
  left: 60%;
  font-size: 0;
  background-size: contain;
  background: url(../images/prev_sp.png);
  height: 12px;
  width: 44px;
  background-position: bottom;
  outline: none;
}
.slider .slick-next {
  position: absolute;
  bottom: 90px;
  right: 20%;
  font-size: 0;
  background-size: contain;
  background: url(../images/next_sp.png);
  height: 12px;
  width: 44px;
  background-position: bottom;
  outline: none;
}

/*slickのカード*/
.slider-list {
  display: flex !important;
  align-items: center;
  background: #fff;
  margin: 0 50px;
  background-size: 100% auto;
  border-radius: 15px;
}

.slider h3 {
  margin-bottom: 15px;
}
.slider .detail {
  margin: auto;
  width: 450px;
}
.slider li {
  padding: 20px;
  height: 200px;
}
.slider li img {
  height: 180px;
  width: auto;
  margin-right: 10px;
}
.slider .slick-slide {
  margin: 0 10px;
  overflow: hidden;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/
/*ドットナビゲーションの設定*/
.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #ccc;
  /*ドットボタンの色*/
}
.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

@media screen and (min-width: 428px) {
  .pc_none {
    display: none;
  }
}
@media screen and (max-width: 428px) {
  * {
    margin: 0;
    padding: 0;
  }

  .first-view {
    min-height: 740px;
  }
  .first-view .fv-container h2 {
    padding-top: 40px;
  }
  .first-view .fv-container p.sub {
    margin: 30px 0;
  }
  .first-view .fv-container .entry-btn {
    top: 220px;
  }
  .first-view img.fv_bg {
    width: 90%;
    top: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  section.about {
    padding: 60px 0;
  }

  h2 {
    letter-spacing: 3px;
    line-height: 150%;
    font-size: 2.5rem;
  }

  .sub-ttl {
    margin-bottom: 20px;
  }

  .header {
    width: 90%;
  }

  .fv-container {
    width: 90%;
  }
  .fv-container h2 {
    letter-spacing: 5px;
    line-height: 170%;
    font-size: 30px;
    padding-top: 100px;
  }

  section.about .inner {
    width: 90%;
  }
  section.about h2 {
    font-size: 28px;
  }

  .sp_none {
    display: none !important;
  }

  .banner {
    margin: 0 auto;
    padding: 0;
  }
  .banner a {
    height: auto;
  }
  .banner a img {
    height: 100%;
    width: 100%;
    display: block;
  }

  section.support {
    padding: 60px 0;
  }
  section.support h2 {
    font-size: 28px;
    margin: 0 auto;
  }
  section.support .sub-ttl {
    margin-bottom: 20px;
  }
  section.support .section-header {
    margin: 0 auto 40px;
    width: 90%;
    text-align: left;
  }
  section.support ul {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  section.support ul li {
    width: 100% !important;
    margin-bottom: 20px;
  }
  section.support ul li img {
    width: 120px;
    position: static;
    margin: 0 auto;
    display: block;
  }

  section.Sample {
    padding: 60px 0;
  }
  section.Sample .sub-ttl {
    margin-bottom: 20px;
  }
  section.Sample h2 {
    margin-bottom: 20px;
  }
  section.Sample ul.slider {
    margin: 0 auto;
    padding: 0px 0 40px;
  }
  section.Sample ul.slider .slick-prev {
    position: absolute;
    bottom: 0px;
    left: 30%;
    font-size: 0;
    background-size: contain;
    background: url(../images/prev_sp.png);
    height: 12px;
    width: 44px;
    background-position: bottom;
    outline: none;
  }
  section.Sample ul.slider .slick-next {
    position: absolute;
    bottom: 0px;
    right: 30%;
    font-size: 0;
    background-size: contain;
    background: url(../images/next_sp.png);
    height: 12px;
    width: 44px;
    background-position: bottom;
    outline: none;
  }
  section.Sample ul.slider li {
    flex-wrap: wrap;
    height: auto;
    height: 420px;
    margin: 0 20px;
  }
  section.Sample ul.slider li img {
    margin: 0 auto;
  }

  section.Partner {
    padding: 60px 0;
  }
  section.Partner h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  section.Partner .inner {
    width: 90%;
    margin: 0 auto;
  }
  section.Partner .inner ul {
    display: flex;
    flex-wrap: wrap;
  }
  section.Partner .inner ul li {
    display: flex;
    padding: 0;
    margin: 20px 0;
    width: 100%;
  }
  section.Partner .inner ul li a {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background: #fff;
  }
  section.Partner .inner ul li a img {
    margin: 0 auto;
    display: block;
    max-height: 80px;
  }

  section.Entry {
    padding: 60px 0;
  }
  section.Entry h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  section.Entry h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  section.Entry .inner {
    width: 90%;
    margin: 0 auto;
  }

  section.FAQ {
    padding: 60px 0;
  }
  section.FAQ .sub-ttl {
    margin-bottom: 20px;
  }
  section.FAQ h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  section.FAQ ul {
    width: 90%;
  }
  section.FAQ ul li {
    margin-bottom: 20px;
  }
  section.FAQ ul li:last-child {
    margin-bottom: 0;
  }
  section.FAQ ul li:last-child p {
    margin-bottom: 0;
  }
  section.FAQ ul li h3 {
    font-size: 16px;
    padding: 5%;
  }
  section.FAQ ul li p {
    padding: 5%;
  }

  footer .upper {
    padding: 70px 0;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}