@charset "UTF-8";

/* CSS Document */

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin-bottom: 30px;
  line-height: 170%;
  letter-spacing: 0.5px;
}
section{
	// min-width: 960px;
}



/******first-view******/

.first-view {
  background: #F4F5F7;
	// min-width: 960px;
  min-height: 750px;
  padding-top: 40px;
  box-sizing: border-box;
	position: relative;
	overflow: hidden;
	img.fv_bg{
		position: absolute;
		left: 48%;
		z-index: 0;
		top:120px;
	}
}

.header {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 50px;
}

h1 {
  width: 176px;
  height: 46px;
}

.fv-container_left {
  margin: auto 0;
  line-height: 170%;
	z-index: 99;
  margin-top: 80px;
}

.fv-container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;


}

.fv-container_left .sub {
  margin: 50px 0;
}

h2 {
  font-size: 52px;
  letter-spacing: 5px;
  line-height: 170%;
  // white-space: nowrap;

  span {
    color: #FFC600;
  }
}

/******header entry-btn******/

.header .entry-btn {
  background: #FFD74F;
  min-width: 205px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all 0.1s ease-out;
}

/******entry-btn******/

.entry-btn {
  background: #FFD74F;
  max-width: 350px;
  height: 60px;
  line-height: 60px;
  border-radius: 60px;
  display: block;
  position: relative;
  transition: all 0.1s ease-out;

  &:hover img {
    animation: arrow .5s;
  }
}

/*hoverした際のアニメーション*/

@keyframes arrow {
  50% {
    right: 10px;
  }

  100% {
    right: 20px;
  }
}

/******entry-btn　ここまで******/

.banner {
  max-width: 1020px;
  margin: 100px auto;

  img {
    width: 100%;
  }
}

.entry-btn {
  img {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
  }

  p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 2px;
    box-sizing: border-box;
    line-height: inherit;
  }
}

.about {
  overflow: hidden;
  background: #F4F5F7;
  padding: 120px 0 30px 0;
  box-sizing: border-box;
	position: relative;

  .inner {
    display: flex;
    width: 80%;
    margin: auto;
  }
	.left {
		width: 583px;
	}

  img.right {
    width: 560px;
		position: absolute;
		top:0;
		left: 48%;
  }

  h2 {
		font-size: 40px;
    margin-bottom: 30px;
  }

  h3 {
    margin-bottom: 60px;
  }
}

.sub-ttl {
  margin-bottom: 50px;
  letter-spacing: 2px;
  font-size: 20px;
  background: linear-gradient(transparent 60%, #ffff66 60%);
  padding: 0 0.5%;
  display: inline-block;
}

section.support {
  padding: 120px 0;
h2{
  font-size: 28px;
}
  .section-header {
    text-align: center;
    margin-bottom: 240px;
  }

  ul {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
  }

  h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 170%;
  }

  li {
    background: #FEF4D3;
    border-radius: 15px;
    padding: 4%;
    width: 32%;
    position: relative;

    img {
      width: 200px;
      position: absolute;
      top: -124px;
      right: 0;
      left: 12px;
      margin: auto;
    }
  }
}

section.Sample {
  background: #F4F5F7;
  padding: 120px 0 30px 0;
  box-sizing: border-box;
	h2{
    font-size: 28px;
		margin-bottom: 48px;
	}

	.inner{
		overflow: hidden;
	}

  .section-header {
    width: 80%;
    margin: auto;
  }
}

.Adviser .inner {
  width: 80%;
  margin: auto;
}

.Entry {
  text-align: center;
  background: #FEF4D3;
  padding: 120px 0;
  box-sizing: border-box;

  .entry-btn {
    margin: 70px auto 0 auto;
  }

  h2 {
    margin-bottom: 70px;

  }
}

.Adviser h2, .FAQ h2, .Partner h2 {
  margin-bottom: 70px;
}

.Entry h3 {
  font-size: 24px;
  line-height: 170%;
  margin-bottom: 40px;
}

.Adviser, .FAQ {
  padding: 120px 0;
  box-sizing: border-box;
}

.Adviser .section-header, .FAQ .section-header, .Partner .section-header {
  text-align: center;
}

.Adviser {
  img {
    width: 100%;
  }

  ul li {
    max-width: 560px;
  }

  h3 {
    font-size: 24px;
    line-height: 170%;
    margin: 16px 0px;
  }
}

.adviser_prof {
  display: flex;
  justify-content: space-around;
}

.FAQ {
  ul {
    margin: auto;
    width: 60%;
  }

  h3 {
    background: #FADA6C;
    padding: 2% 3%;
    border-radius: 15px 15px 0 0;
  }

  li {
    margin-bottom: 60px;

    p {
      background: #FEF4D3;
      padding: 2% 3%;
      border-radius: 0 0 15px 15px;
    }
  }
}

.Partner {
  img {
    max-height: 130px;
  }

  li {
    background: #fff;
    padding: 5% 10%;
    display: table;
    margin: 0 2%;
    border-radius: 15px;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  background: #F4F5F7;
  padding: 120px 0;
  box-sizing: border-box;
}

footer {
  .upper {
    padding: 70px 0;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    display: flex;

    a {
      line-height: 46px;
      font-size: 14px;
    }
  }

  .bottom {
    background: #FADA6C;
    text-align: center;
    padding: 70px 0;

    img {
      width: 160px;
    }
  }

  small {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    letter-spacing: 1px;
    opacity: 0.5;
  }
}

/*=================================
スライダーのためのcss
===================================*/

.slider {
  /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 100%;
  margin-left: 9%;
  padding-bottom: 150px;
  p {
    margin: 0;
  }

  img {
    width: 100%;

    /*スライダー内の画像を横幅100%に*/
    height: auto;
  }
  .slick-prev{
    position: absolute;
    bottom: 90px;
    left: 67%;
    font-size: 0;
    background-size: contain;
    background:url(../images/prev_sp.png);
    height: 12px;
    width: 44px;
    background-position: bottom;
    outline: none;
  }
  .slick-next{
    position: absolute;
    bottom: 90px;
    right: 20%;
    font-size: 0;
    background-size: contain;
    background:url(../images/next_sp.png);
    height: 12px;
    width: 44px;
    background-position: bottom;
    outline: none
  }


}

/*slickのカード*/

.slider-list {
  display: flex !important;
	align-items: center;
  background: #fff;
  margin: 0 50px;
  background-size: 100% auto;
  border-radius: 15px;
}

.slider {
  h3 {
    margin-bottom: 15px;
  }

  .detail {
    margin: auto;
		width: 450px;
  }
li{
	padding: 20px;
	height: 264px;
	img {
	 height: 180px;
	 width: auto;
	 margin-right: 10px;
 }
}
  .slick-slide {
    margin: 0 10px;
		overflow: hidden;
  }
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;

  li {
    display: inline-block;
    margin: 0 5px;
  }

  button {
    color: transparent;
    outline: none;
    width: 8px;

    /*ドットボタンのサイズ*/
    height: 8px;

    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc;

    /*ドットボタンの色*/
  }

  .slick-active button {
    background: #333;

    /*ドットボタンの現在地表示の色*/
  }
}
@media screen and (min-width: 428px) {
  .pc_none{
    display: none;
  }
}
@media screen and (max-width: 428px) {
  *{
  margin:0;
  padding:0;
  }
.fv-container_left{
  margin-top: 0;
}

  .first-view {
    min-height: 740px;
    .fv-container {
      h2{
        padding-top: 40px;
      }
      p.sub{
        margin: 30px 0;
      }

      .entry-btn{
        top:220px;
      }
    }

    img.fv_bg{
      width: 90%;
      top:400px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  section.about{
    padding: 60px 0;
  }
  h2{
      letter-spacing: 3px;
      line-height: 150%;
      font-size: 2.5rem;
    }

    .sub-ttl{
      margin-bottom: 20px;
    }
    .header{
      width: 90%;
    }
.fv-container{
  width: 90%;
  h2{
      letter-spacing: 5px;
      line-height: 170%;
      font-size:30px;
      padding-top: 100px;
    }
}

section.about{

  img.right{
    width: 90%;
    position: absolute;
    left: 4%;
    top: 48%;
    opacity: 0.7;
  }
  .inner{
    width: 90%;
  }
  h2{
    font-size: 28px;
  }
}



  .sp_none{
    display: none!important;
  }
  .banner{
    margin: 0 auto;
    padding: 0;
    a{
      height: auto;
      img{
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }





	section.support {
padding: 60px 0;
h2{
  font-size: 28px;
  margin: 0 auto;
}
.sub-ttl{
  margin-bottom: 20px
}
.section-header{
  margin: 0 auto 40px;
  width: 90%;
  text-align: left;
}
			ul{
				  width: 90%;
			    display: flex;
			    flex-wrap: wrap;
					li{
						width: 100%!important;
            margin-bottom: 20px;
            img{
              width: 120px;
              position: static;
              margin: 0 auto;
              display: block;
            }
					}
		}
}


section.Sample{
  padding: 60px 0;
  .sub-ttl{
    margin-bottom: 20px;
  }
h2{
  margin-bottom: 20px;
}
ul.slider{
	margin: 0 auto;
  padding: 0px 0 40px;
  .slick-prev{
    position: absolute;
    bottom: 0px;
    left: 30%;
    font-size: 0;
    background-size: contain;
    background:url(../images/prev_sp.png);
    height: 12px;
    width: 44px;
    background-position: bottom;
    outline: none;
  }
  .slick-next{
    position: absolute;
    bottom: 0px;
    right: 30%;
    font-size: 0;
    background-size: contain;
    background:url(../images/next_sp.png);
    height: 12px;
    width: 44px;
    background-position: bottom;
    outline: none
  }
	li{
		flex-wrap: wrap;
		height: auto;
    height: 420px;
    margin: 0 20px;
    img{
      margin: 0 auto;
    }
	}
}

}


section.Partner{
  padding: 60px 0;
  h2{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .inner{
    width: 90%;
    margin: 0 auto;
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        display: flex;
        padding: 0;
        margin:20px 0;
        width: 100%;
        a{
          padding: 10px;
    border-radius: 10px;
    width: 100%;
    background: #fff;
          img{
            margin: 0 auto;
            display: block;
            max-height: 80px;
          }
        }
      }
    }
  }

}

section.Entry{
  padding: 60px 0;
  h2{
    font-size: 28px;
    margin-bottom: 20px;
  }
  h3{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .inner{
    width: 90%;
    margin: 0 auto;
  }
}

section.FAQ{
  padding: 60px 0;
  .sub-ttl{
    margin-bottom: 20px;
  }
  h2{
    font-size: 25px;
    margin-bottom: 20px;
  }

  ul{
    width: 90%;
    li{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
        p{
          margin-bottom: 0;
        }
      }
      h3{
        font-size: 16px;
        padding: 5%;
      }
      p{
        padding: 5%;
      }
    }
  }
}

footer .upper {
    padding: 70px 0;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}



}
